<img class="bg" src="../assets/Image/cover.jpeg">
<h1>About us</h1>
<p>At EurAsia, we believe in recognizing a familiar face, welcoming a new one and treating everyone we meet the way we would want to be treated ourselves. Whether you work with us, stay with us, live with us or discover with us, we believe our purpose is to create impressions that will stay with you for a lifetime. It comes from our belief that life is richer when we truly connect to the people and the world around us.</p>
<img class="photo1" src="../assets/Image/hotel.jpeg"/>

<h1>History of EurAsia</h1>
<p class= "his">The EurAsia hotel was found in 2019 by four - last year students of ELTE university. The name itself came from the ethnicity and cultural background of the team members which you can find the more detailed information in the Team section below. The main reason why this hotel is unique amongst millions of hotels is it is completely virtual yet closest to the real-world experience of staying in hotel. In few words you can put on your VR and have an unbelievably real experiences and activities with less payment and stress. EurAsia hotel is known as one and only virtual hotel that exists.</p>
<h2>Our Team</h2>
      <div class="row">
        <div class="col">
          <img  src="../assets/Image/lyhn.jpg">
          <h2>Lyhn BO</h2>
          
            <ul>
              <li>Computer science Bsc ELTE</li>
              <li>22 years old</li>
              <li>Yantai, China</li>
            </ul>
          
        </div>
        <div class="col">
          <img  src="../assets/Image/husyen.jpg">
          <h2>Huseyn Gasimov</h2>
          
            <ul>
            <li>Computer science Bsc ELTE</li>
            <li>24 years old</li>
            <li>Baku, Azerbaijan</li>
          </ul>
        
        </div>
        <div class="col">
          <img  src="../assets/Image/alper.jpg">
          <h2>Alper Meydan</h2>
          
            <ul>
            <li>Computer science Bsc ELTE</li>
            <li>21 years old</li>
            <li> Moscow, Russia</li>
          </ul>
        
        </div>
        <div class="col">
          <img  src="../assets/Image/odii.jpg">
          <h2>Odbayar Erdenebat</h2>
         
            <ul>
              <li>Computer science Bsc ELTE</li>
              <li>22 years old</li>
              <li> Darkhan, Mongolia</li>
            </ul>
         
        </div>
      </div>
    