<img class="bg" src="../assets/Image/cover.jpeg">
<h1>Contact Us</h1>
<p class="name">THE EURASIA HOTEL COMPANY, L.L.C</p>
<p class="ad">Address: Budapest, Pázmány Péter stny. 1/C., 1117</p>
<p class="ph">Phone number: +3630752145</p>
<h2>Follow us on</h2>
<div class="row">
    <div class="col">
      <img  src="../assets/Image/fb.png">
      <h2>Facebook</h2>
      <p>@EURASIA</p>
      
    </div>
    <div class="col">
      <img  src="../assets/Image/inst.png">
      <h2>Instagram</h2>
      <p>@EURASIA</p>
    
    </div>
    </div>

    <h3>Direct contact</h3>
    <form id="contact" action="mailto:me@example.com">
    
      <div>
        <label for="your-name">Your name</label>
        <input type="text" id="your-name" name="your-name" size="32" />
      </div>
      <div>
        <label for="your-email">
          Your reply e-mail <strong>(required)</strong>
        </label>
        <input type="email" id="your-email" name="your-email" required size="32" />
      </div>
      <div>
        <label>Type of query</label>
        <div>
          <input type="radio" id="query-product" name="query" />
          <label for="query-product">Ask about our service</label>
        </div>
        <div>
          <input type="radio" id="query-complain" name="query" />
          <label for="query-complain">File a complaint</label>
        </div>
        <div>
          <input type="radio" id="query-info" name="query" />
          <label for="query-info">Request information</label>
        </div>
      </div>
      <div>
        <input type="checkbox" name="agree" id="agree">
        <label for="agree">I agree to provide you with my personal data</label>
      </div>
      <div>
        <label for="your-message">Message <strong>(required)</strong></label>
        <textarea id="your-message" name="your-message" required rows="20" cols="40"></textarea>
      </div>
      <button type="reset">Reset</button>
      <button type="submit">Send</button>
    </form>
<h3>Contact with our stuffs</h3>
<ul>
  <li>alpermeydan@mail.ru</li>
  <li>husyen@gmail.com</li>
</ul>
<footer>Thank you for choosing us</footer>
