.bg {
    z-index: -1;
    position: absolute;
    min-width: 99%;
    min-height: 100%;
    
  }
  h1{
    background: rgba(0, 0, 0, 0.3);
    color: rgb(218, 218, 218);
    text-shadow: 0 0 10px rgb(10, 10, 10);
    text-decoration: underline;
  }
  .name{
    text-align: end;
    color: rgb(240, 240, 240);
    
  }
  .ad{
    text-align: end;
    color: rgb(240, 240, 240);
  }
  .ph{
    text-align: end;
    color: rgb(240, 240, 240);
  }
  h2{
    background: rgba(0, 0, 0, 0.3);
    color: rgb(218, 218, 218);
    text-shadow: 0 0 10px rgb(10, 10, 10);
    text-decoration: underline;
  }
  .row {
    display: flex;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .col {
    font-family: "proxima-nova",Helvetica,"Arial Unicode",sans-serif;
    text-align: center;
    flex: 1 1 0;
    padding: 0 10px;
    margin: 0 60px;
    background: rgb(135, 190, 186);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .col > img {
    
    margin: auto;
    max-width: calc(35% + 5px);
  }
  p{
    text-align: center;
    color: rgb(218, 218, 218);
    text-shadow: 0 0 10px rgb(10, 10, 10);
  }

  h3{
    background: rgba(0, 0, 0, 0.3);
    color: rgb(218, 218, 218);
    text-shadow: 0 0 10px rgb(10, 10, 10);
    text-decoration: underline;
  }
  #contact {
    
    
    padding: 10px;
    display: inline-block;
  }
  
  #contact > div {
    margin-top: 15px;
  }
  
  #contact label {
    display: block;
    font-weight: bold;
  }
  
  #contact input[type="radio"] + label,
  #contact input[type="checkbox"] + label {
    display: inline-block;
    font-weight: normal;
  }
  
  #contact label strong {
    color: rgb(185, 37, 37);
  }
  li{
    font-size: 1.5rem;
    text-align: end;
    color: rgb(240, 240, 240);
  }
  footer{
    text-align: center;
    color: rgb(240, 240, 240);
    text-shadow: 0 0 10px rgb(10, 10, 10);
    font-size: 4rem;
    margin: 4em;
  }